

/*Content/Box */
.content_box {
    background-color: whitesmoke;
    margin: 55px auto;
    border: 1px solid gray;
    width: 40%;
  }
  
  
  .subbtn{
   background-color: rgb(85, 88, 248);
  }
  
  
  /* cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    color: black;
    background-color: rgb(248, 92, 92);
    
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    text-align: center;
    padding: 16px;
  }
  
  